.upperContent{
    display: flex;
}

.upperContentInner{
    flex-direction: row;
    flex: 50%;
}

.upperContentad{
    width: 600px;
    height: 200px;
}

.upperCp {
    font-weight: 500;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.6s;
    text-align:center;
}


.upperCp:hover{
    color: blue;
}

.ContactTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 10px;
}
  
.ContactTable td, .ContactTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.ContactTable tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.ContactTable tr:hover {
    background-color: #ddd;
}
  
.ContactTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3c39e9;
    color: white;
}
  