/*header*/


.header {
    background-color: rgb(18, 40, 168);
    height: 80px;
    position: relative;
}

.header .header-content {
    display:flex;
    height: 40px;
}

.header .header-content {
    flex: 1;
    height: 80px;
}



.headerbt{
    margin : 8px 4px 4px 4px;
	width : 80px;
    height : 20px;
	color : blue;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    box-shadow: 3px 3px 8px #888888;
    background-color: rgb(214, 216, 226);
}


.header {
    display: flex;
    background-color: rgb(18, 40, 168);
    height: 80px;
}
  
.part1 {
    flex: 25%,75%;
    padding-left: 10px;
    padding-right: 10px;
    
}
.header-content1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}



/*navigation bar*/


ul.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li.main {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(99, 100, 92);
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover
{
    background-color:grey;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


  /*Footer*/
.footer {
    background-color: rgb(18, 40, 168);
    
    position: relative;
    color: blanchedalmond;
    
}

.footer .footer-content {
    
    display: flex;
    height: 160px;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.content {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    
}

.footer .footer-content .footer-section {
    flex:1;
    height: 175px;
    
    
}

.footer .footer-bottom {
    background-color: #333;
    
    /*color:black;*/
    height:25px;
    width:100% ;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.footer-column {
    display: flex;
    flex-direction: column;
    
}

.logo{
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;
    
}

ul.ulfoot {
    color: blanchedalmond;
    list-style-type: none;
}

a.ulfoot {
    text-decoration: none;
    color: blanchedalmond;
}

li.ulfoot {
    text-align: left;
}

.social {
    
    object-fit: cover;
    margin: 10px;
}

/*new add */
.font {
    color: azure;
}



/*main content*/
.mainContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.maincolumn {
    flex: 33%;
    padding-left: 10px;
    padding-right: 10px;
}


.googleMap {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*blogs*/

.blog_content {
    width: 100%;
    height: auto;
}

.blog_row {
    display: flex;
    
}
  
.blog_column {
    flex: 50%;
    
}


.blog_content_column  {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.postContent {
    padding: 5px 5px 5px 5px;
}

.blogbtn {
    
    padding: .5rem 1rem;
    background: rgb(18, 40, 168);
    color : white;
    border: 1px solid transparent;
    border-radius: .25rem ;
    bottom: 10px;
    right: 10px;
    
}

.blog_content_column .blogbtn {
    position: absolute;
}
.blogUpdateBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogBtn:hover{
    background-color: darkred;
    color: white;
}

.blogBtn {
    margin : 8px 4px 4px 4px;
    
	width : 200px;
    height : 25px;
	color : blue;
    background-color: #7c89d1;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    box-shadow: 3px 3px 8px #888888;
    text-decoration: none;
}
.blogBtn a{
    text-decoration: none;
}

.formClass{
    margin : 8px 4px 4px 4px;
    display: flex;
}

.ssubmit{
    margin : 8px 4px 4px 4px;
    width:77px;
    height: 25px;
    background-color: #7c89d1;
    color : blue;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
}
/*emergency service page*/

.row {
    display: flex;
}
  
.column {
    flex: 50% ;
    align-items: flex-end;
    
    
}


.emergencyMap {
    height: 400px;
    width: 400px;
    margin-left: 150px;
    

}

/*Create account */


/*hr tag decoration*/
hr {
    border-radius: 2px;
    border: 3px solid silver;
    resize: inline;
    width: 350px;
}
/*h1 tag decoration*/
h1 {
    color: goldenrod;
    font-family: 'Cambria Math';
}
/*h2 tag decoration*/
h4 {
    color: darkblue;
    font-family: 'Cambria Math';
}
/*look color*/
.team a {
    color: rgb(43, 12, 128);
    font-weight: bold;
}

    .team a:hover {
        color: rgb(139, 11, 18);
    }

center {
    background-color: rgba(255, 255, 255, 0.445);
    padding-left: 25%;
    padding-right: 25%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.CreateAform {
    padding: 10px;
    margin: 15px 5px 15px 5px;
    border: 3px solid rgba(37, 25, 139, 0.089);
    border-radius: 50px;
    background-color: rgba(13, 12, 104, 0.315);
}

.hor {
    width: 50%;
    padding: 10px;
}

select {
    width: 50%;
    padding: 12px;
    border: 1px solid silver;
    margin-top: 5px;
    margin-bottom: 10px;
    flex: inherit;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid silver;
    box-sizing: border-box;
}

.but {
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 80px;
}

    .but:hover {
        opacity: 0.8;
    }

.DP {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.image {
    width: 25%;
    border-radius: 50%;
    border: 2px solid black;
}



/*Reservation*/
.reservationForm {
    width: 70%;
    height: auto;
    
    justify-content: center;
    background-color:  black;
    opacity: 0.5;
    margin-left: 200px;
    margin-top: 70px;
    

}

.reservationRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reservationCol{
    flex: 50%;
    margin-right: 5px;
    margin-left: 5px;
    padding:30px 10px 30px 10px;
    flex-direction: column;
}

